### Files to be ignored by Git

# SSH
/ssh/id_rsa*
/ssh/known_hosts

# IDE
/.idea/
*.iml

# Mac
.DS_Store

# Scripts from internal repos in CoreMedia Plugin for Oh My Zsh
/oh-my-zsh-custom/plugins/coremedia/bin/
/oh-my-zsh-custom/plugins/coremedia/checkout/

# Custom
/tmp/
