### Files to be ignored by Git

# SSH
/ssh/id_rsa*
/ssh/known_hosts

# IDE
/.idea/
*.iml

# Mac
.DS_Store

# Oh-My-Zsh
/oh-my-zsh-custom/plugins/*
!/oh-my-zsh-custom/plugins/git/
!/oh-my-zsh-custom/plugins/external-tools/
/oh-my-zsh-custom/plugins/external-tools/bin/

# Scripts
/bin/chromedriver
/bin/ci-trigger
/bin/pr-integrate
/bin/Sencha/

# Custom
/tmp/
