[user]
	name = ${GIT_USER_NAME}
	email = ${GIT_USER_EMAIL}
	signingkey = ${GIT_USER_SIGNINGKEY}
[push]
	default = current
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	cp = cherry-pick
	sm = submodule
	pl = pull
	ps = push
	rb = rebase
	df = diff
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[http]
	postBuffer = 1048576000
[branch]
	autosetuprebase = always
[diff]
	renamelimit = 0
[rerere]
	enabled = true
[pull]
	rebase = true
[pager]
	branch = false
	tag = false
[fetch]
	prune = true
	pruneTags = false
[commit]
	gpgSign = ${GIT_COMMIT_GPGSIGN}
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
