[user]
	name = ${GIT_USER_NAME}
	email = ${GIT_USER_EMAIL}
	signingkey = ${GIT_USER_SIGNINGKEY}
[push]
	default = current
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	cp = cherry-pick
	sm = submodule
	pl = pull
	ps = push
	rb = rebase
	df = diff
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[http]
	postBuffer = 1048576000
[branch]
	autoSetupRebase = remote
[merge]
	renamelimit = 10000
[rerere]
	enabled = true
[pull]
	rebase = true
[pager]
	branch = false
	tag = false
[fetch]
	prune = true
	pruneTags = false
[commit]
	gpgSign = ${GIT_COMMIT_GPGSIGN}
